
form {
  border-radius: 60px;
  border: 3px solid #aabcbd;
}


input[type=text], input[type=password] {
  border-radius: 30px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  border-radius: 30px;
  background-color: #217185;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}


button:hover {
  opacity: 0.8;
}



.imgcontainer {
  text-align: center;
  margin: 20px 0 10px 0;
}


img.avatar {
  width: 40%;
  border-radius: 50%;
}


.container {
  border-radius: 80px;
  padding: 16px;
}



@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}